<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596893521605-cvk9pc3k4jglgcbilofb498lutlb9jjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596893521605-cvk9pc3k4jglgcbilofb498lutlb9jjc</string>
	<key>API_KEY</key>
	<string>AIzaSyBlDxhR58qqZ6Eq0wc0svUnadmP7aKeOMs</string>
	<key>GCM_SENDER_ID</key>
	<string>596893521605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>fir-tutorial-b4059</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutorial-b4059.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596893521605:ios:cf2e633a5583193f7302ac</string>
</dict>
</plist>